{% extends 'main/index.html' %}
{% load static %}
{% block title %}HOME{% endblock %}
{% block content %}
    <div class="header">
        <h1 id="desch" class="onh">Hi, my name is Łukasz</h1>
        {#        <h1 id="desc2h">Python & Django</h1>#}
        {#        <h1 id="desc3h">HTML & CSS & JavaScript</h1>#}
        {#        <h1 id="desc4h">Bash & R</h1>#}
        {#    </div>#}
        <div class="description">
            <p id="desc" class="on">I am a boy raised in Poland by two wonderful people. Python
                backend developer but also front-end
                geek. Gym
                and fitness lover, ukulele player and amateur actor.
                What else do I can? Well see for yourself... check out below.
            </p>
        </div>
        {#        <p id="desc2">#}
        {#            Python was the first language I have learned. I started, of course, with printing 'hello world'. At this#}
        {#            point I am using a lot of libraries for many different tasks from Data Science (pandas) up to writing simple#}
        {#            games (pygame). I am also very familiar with the concept of OOP as well as practical usage of it. I am#}
        {#            fluent with python control flow, python usage of solving many math problems, and many others.<br><br>#}
        {#            Right from the beginning of my journey with python i decided to use it mostly for (back-end, sometimes#}
        {#            full-stack) web development. So i started to learn django... And I can proudly say that however I have#}
        {#            learned a lot I know that I still have a lot to learn. It is mostly because django is non stop upgrading#}
        {#            python framework. At this point django is the main framework I am working with.#}
        {#        </p>#}
        {##}
        {#        <p id="desc3">#}
        {#            I stared using HTML-5 while working on my first project. It was a simple web site for carpentry shop with#}
        {#            the ability to upload images ass well as movies. Since then I started mastering this easy to learn however#}
        {#            hard to master language. Beside HTML itself I am familiar with django template language, but more about that#}
        {#            in django section<br><br>About my CSS, as seen on this web site I can preform lot of interesting hovers, and#}
        {#            animations, manipulate site content like text, images. I am familiar with usage of tables, flex boxes and#}
        {#            others. While using django I am aldo fluent with the usage of SCSS files to preform clarity ang simplicity#}
        {#            in code.<br><br>About JavaScript... I recently started my journey witch this language, but I am starting to#}
        {#            get along with it really well.#}
        {#        </p>#}
        {#        <p id="desc4">#}
        {#            I learned bash while working with Ubuntu software. I am still increasing my bash in usage of creating#}
        {#            projects in django with git, manipulating files, creating conf files. I am also familiar with bash nano and#}
        {#            creating alias.<br><br>I started using R while studying Data Science. I used in mostly in usage of data#}
        {#            analyzing and, data science. I created few project, some of them are available on my git. At this point I am#}
        {#            fluent with R in usage of manipulating data and big data, creating tables, data frames and charts, ass well#}
        {#            as creating functions, loops and conditions.#}
        {#        </p>#}
    </div>


    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for i in lang %}

            <div class="swiper-slide">
                <div class="card">
                    <div class="sliderText">
                        <h3>{{ i.title }}</h3>
                    </div>
                    <div class="content">
                        <p>{{ i.desc_short }}</p>
                        <a href="{{i.get_absolute_url}}">Read More</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <div id="empty">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Mrklata"><img
                src="{% static 'img/git.png' %}" alt="img"></a>
        <a target="_blank" rel="noopener noreferrer"
           href="https://www.linkedin.com/in/%C5%82ukasz-kowalczyk-35259b19b/"><img src="{% static 'img/link.png' %}"
                                                                                    alt="img"></a>
        <a target="_blank" rel="noopener noreferrer" href="mailto:lukasz98kowalczyk@gamail.com"><img
                src="{% static 'img/mail.png' %}" alt="img"></a>
    </div>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 30,
                stretch: 0,
                depth: 500,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
{% endblock %}