{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{#<div id="contact">#}
{#    <a href="https://github.com/Mrklata"><img src="{% static 'img/git.png' %}" alt="img"></a>#}
{#    <a href="https://www.linkedin.com/in/%C5%82ukasz-kowalczyk-35259b19b/"><img src="{% static 'img/link.png' %}" alt="img"></a>#}
{#    <a href="mailto:lukasz98kowalczyk@gamail.com"><img src="{% static 'img/mail.png' %}" alt="img"></a>#}
{#</div>#}
<section>
    <img src="{% static 'img/bg.jpg' %}" id="bg" alt="img">
    <img src="{% static 'img/moon.png' %}" id="moon" alt="img">
    <img src="{% static 'img/mountain.png' %}" id="mountain" alt="img">
    <img src="{% static 'img/road.png' %}" id="road" alt="img">
    <h2 id="text">Mr_klata</h2>
</section>
<script>
    let bg = document.getElementById("bg");
    let moon = document.getElementById("moon");
    let mountain = document.getElementById("mountain");
    let road = document.getElementById("road");
    let text = document.getElementById("text");

    window.addEventListener('scroll', function () {
        var value = window.scrollY;

        bg.style.top = value * 0.5 + 'px';
        moon.style.left = -value * 0.5 + 'px';
        mountain.style.top = -value * 0.15 + 'px';
        road.style.top = value * 0.15 + 'px';
        text.style.top = value + 'px';
    })
</script>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    function toggle_visibility_header(id) {
        var e = document.getElementById(id);
        $(".onh").removeClass("onh");
        e.classList.add("onh");
    }
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        $(".on").removeClass("on");
        e.classList.add("on");
    }
    $(document).on('click', 'ul li', function () {
        $(this).addClass("active").siblings().removeClass("active")
    })


</script>

{#<ul>#}
{#    <li class="active" onclick="toggle_visibility('desc'); toggle_visibility_header('desch')">1</li>#}
{#    <li onclick="toggle_visibility('desc2'); toggle_visibility_header('desc2h')">2</li>#}
{#    <li onclick="toggle_visibility('desc3'); toggle_visibility_header('desc3h')">3</li>#}
{#    <li onclick="toggle_visibility('desc4'); toggle_visibility_header('desc4h')">4</li>#}
{##}
{##}
{#</ul>#}
</body>
</html>