@import url('https://fonts.googleaspis.com/css?family=Poppins:300,400,500,600,700');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

//p{
//  color: white;
//  display: none;
//  transition: 1s;
//}
//h1{
//  display: none;
//}
//h1.onh{
//  display: block;
//}
//p.on{
//  display: block;
//}
body {
  background: #0a2a43;
  min-height: 1500px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 100;
}

section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 100;
  mix-blend-mode: color;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: white;
  font-size: 10em;
  z-index: 1;
}

#road {
  z-index: 2;
}

.header {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.description {
  text-align: center;
  margin: 10% 20%;
  font-size: 25px;
  color: white;

}

@media only screen and (max-device-width: 600px) {
  .description {
    display: none;
  }

}

ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 10%;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 50px;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  color: #0a2a43;
  transition: .5s;
}


ul li.active {
  background: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1),
  0 0 20px rgba(255, 255, 255, 1),
  0 0 30px rgba(255, 255, 255, 1),
  0 0 75px rgba(255, 255, 255, 0.1),
  0 0 60px rgba(255, 255, 255, 0.1),
  0 0 45px rgba(255, 255, 255, 0.1),
  0 0 30px rgba(255, 255, 255, 0.1),
  0 0 15px rgba(255, 255, 255, 0.1);
}

ul li a {
  text-decoration: none;
  color: #0a2a43;
}

#contact {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 111;
  margin-right: 10px;

  img {
    height: 30px;
    width: 30px;
    margin: 10px;

  }
}

#empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;

  img {
    height: 30px;
    width: 30px;
    margin: 10px;
  }
}

.card {
  position: relative;
  background: white;
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.card .content {
  width: 400px;
  padding: 30px;
  box-sizing: border-box;


}

.card .content p {
  max-height: 110px;
  overflow-wrap: break-word;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;


}

.card .content a {
  display: inline-block;
  margin: 10px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #262626;
  color: #262626;
  font-weight: 600;
}

.card .sliderText {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.card .sliderText h3 {
  color: white;
  font-size: 3em;
}

.swiper-slide {
  width: 400px;
}
